a,a:hover, a:visited {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: white;
}
* {
    box-sizing: border-box;
}

button{
    transition: 0.5s;
}
/* Add a gray background color with some padding */
body {
    font-family: Arial, serif;
    padding: 20px;
    background: #e7e4e5;
    max-width: 1200px;
    margin: 0 auto;
}
.postHeader{
    font-family: 'Montserrat', sans-serif;
}
.postData{
    font-family: 'Montserrat', sans-serif;
}
.postContent{

}
/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 20px;
    text-align: center;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

.header input[type = "text"]{
    background: white;
    font-size: 15px;
    color: black;
    display: inline;
    margin: 10px;
    padding: 20px;
}
.header button{
    background: white;
    font-size: 15px;
    color: black;
    border: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}
.header button:hover{
    background: black;
    color: white;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 25%;
    padding-right: 20px;
}

.midcolumn{
    width: 100%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 75%;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.comment .CodeMirror {
    height: 30px;
}
.comment{
    margin-top: 20px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 400px;
}
.comment::-webkit-scrollbar{
    width: 7px;
    background-color: #f1f1f1;
}
.comment::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 12px;
}

.profileImage img{
    width: 100%;
}

.profileButton{
    background: white;
    margin: 10px 0;
    font-size: 15px;
    color: black;
    display: inline;
    border: none;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.profileButton label{
    cursor: pointer;
}
.profileButton:hover{
    background: black;
    color: white;
}
.card .sendMessage {
    text-decoration: none;
    text-align: center;
    display: block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.card a:hover {
    background-position: right center;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 500px){
    .header, .send_message_area{
        flex-direction: column;
    }
    .send_message_input input, .send_message_textarea textarea{
        width: 100%;
    }
}
.choose_dialog_button{
    background-color: white;
    border: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    opacity: 0.8;
}
.choose_dialog_button:hover{
    opacity: 1;
}
.choose_dialog_button img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}
.dialog_content{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    align-items: start;
}
.dialog_content_name{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    align-items: self-start;
    width: 100%;
    text-align: left;
}
.dialog_content_msg{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 15px;
}
.dialog_content img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.chat {
    padding: 40px;
    height: 400px;
    overflow-y: auto;
}
.chat::-webkit-scrollbar{
    width: 7px;
    background-color: #f1f1f1;
}
.chat::-webkit-scrollbar-thumb{
    background-color: #bfe2ff;
}

.message {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.message--user-1 + .message--user-2,
.message--user-2 + .message--user-1 {
    margin-top: 1em;
}
.message--user-1 + .message--user-1,
.message--user-2 + .message--user-2 {
    margin-top: .5em;
}
.message__time {
    font-size: 20px;
    color: black;
    width: 100%;
    margin: 0 0 5px 50px;
}

.message__author-pic {
    margin: 0 10px 0 0;
}
.message__author-pic img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.message__text {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #69b4f3;
    background-color: #bfe2ff;
    max-width: 70%;
}
.message--user-2 {
    justify-content: flex-end;
}
.message--user-2 .message__time {
    text-align: right;
    margin: 0 50px 5px 0;
}
.message--user-2 .message__author-pic {
    order: 1;
    margin: 0 0 0 10px;
}
.message--user-2 .message__text {
    background-color: #69b4f3;
}

.send_message_area {
    padding: 50px;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.send_message_input {

}
.send_message_textarea {
    flex-basis: 75%;

}

.send_message_input input[type="submit"]:hover{
    opacity: 1;
}
.send_message_input input[type="submit"] {
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 30px;
    border-width: 0;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
    height: 100%;
    background-color: #2aa4be;
    color: white;
    font-size: 14px;
    transition: .5s;
}
.send_message_textarea textarea{
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 30px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    width: 100%;
    height: 100%;
}


