<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:insert="~{/particles/head :: head(title=${user.name})}"/>
</head>
<body>


<div th:insert="~{/particles/header :: header (users=${users})}"></div>


<div class="row">

    <div class="leftcolumn">

        <div class="card">
            <h2>About Me</h2>
            <img style="width: 100%" th:src="${user.img}" alt="">
            <p th:text="${user.name}">
        </div>

        <div class="card">
            <a href="/createPost">
                <button class="profileButton">Создать пост</button>
            </a>
            <form id="formImg" action="/api/uploadImg" method="post" enctype="multipart/form-data">
                <input name="file" id="loadImg" type="file" accept="image/*,image/jpeg" hidden="hidden"
                       onchange="handleFiles()">
            </form>
            <button class="profileButton"><label for="loadImg">Изменить фото профиля</label></button>
            <button class="profileButton" onclick="window.location='/logout'">Выйти</button>
            <script>
                function handleFiles() {
                    const form = document.querySelector("#formImg");
                    form.submit();
                    // location.reload();
                }
            </script>
        </div>

    </div>


    <div class="rightcolumn">
        <div class="card" th:each="post : ${posts}">
            <a th:href="'/post/' + ${post.id}"><h2>Post</h2></a>
            <h5 th:text="${post.date}">Title description, Dec 7, 2017</h5>
            <h3 th:text="${post.text}"></h3>
        </div>
    </div>

</div>

</body>
</html>